<footer class="text-white py-10 px-4 mt-16">
	<div class="sm:w-7/12 mx-auto">
		<div class="grid grid-cols-4 gap-10">
			<div class="col-span-4 sm:col-span-2">
				<div>
					<img src="./assets/island.svg" class="w-10 inline-block mr-2" />
					<span class="text-xl">Data Island</span>
				</div>
				<div class="py-2 font-light">
					Data Island is a data collection and analytics website built to provide a seamless experience for
					users seeking to track the performance of the cryptocurrency market.
				</div>
			</div>
			<div class="col-span-2 sm:col-span-1 sm:text-right">
				<span class="font-semibold">About</span>
				<!-- <div>
					A
					<a href="https://keabyte.com" class="underline" target="_blank">KEABYTE</a>
					project
				</div> -->
			</div>
			<div class="col-span-2 sm:col-span-1 sm:text-right">
				<span class="font-semibold">Contact</span>
				<!-- <div><a href="https://twitter.com/keabyte" class="underline" target="_blank">Twitter</a></div> -->
			</div>
		</div>

		<hr class="mt-5 mb-2" />
		<div class="flex">
			<div class="flex-1">
				<p>© 2022 Data Island, Ltd. All rights reserved.</p>
			</div>
			<div>
				{{ environment.version }}
			</div>
		</div>
	</div>
</footer>
