<mat-drawer-container autosize [hasBackdrop]="false">
	<mat-drawer mode="over" [opened]="!!selectedCoin" position="end" [autoFocus]="false" class="w-full sm:w-6/12">
		<dil-coin-details [coin]="selectedCoin" (closeClicked)="selectedCoin = null"></dil-coin-details>
	</mat-drawer>

	<mat-drawer-content>
		<div class="px-6 sm:px-0">
			<div class="text-2xl font-semibold pb-4">Cryptocurrency Dashboard</div>
			<mat-table [dataSource]="dataSource">
				<mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
				<mat-row
					*matRowDef="let coin; columns: displayedColumns"
					class="table-row-highlight font-semibold"
					(click)="rowClicked(coin)"
					[ngClass]="{ 'table-row-selected': coin.id === selectedCoin?.id }"
				></mat-row>

				<ng-container matColumnDef="market_cap_rank">
					<mat-header-cell *matHeaderCellDef class="coin-name-column">
						<span>COIN</span>
					</mat-header-cell>
					<mat-cell *matCellDef="let coin" class="coin-name-column">
						<span class="mr-5 text-gray-500">{{ coin.market_cap_rank }}</span>
						<img src="{{ coin.image }}" class="w-8 mr-3" />
						<span class="mr-2 coin-name">{{ coin.name }}</span>
						<span class="text-gray-400">{{ coin.symbol.toUpperCase() }}</span>
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="current_price">
					<mat-header-cell *matHeaderCellDef class="column-right">
						<span>PRICE</span>
					</mat-header-cell>
					<mat-cell *matCellDef="let coin" class="column-right">
						{{ coin.current_price | price }}
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="market_cap">
					<mat-header-cell *matHeaderCellDef class="column-right hidden sm:flex">
						<span>MARKET CAP</span>
					</mat-header-cell>
					<mat-cell *matCellDef="let coin" class="column-right hidden sm:flex">
						{{ coin.market_cap | shortCurrency }}
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="total_volume">
					<mat-header-cell *matHeaderCellDef class="column-right hidden sm:flex">
						<span>VOLUME (24H)</span>
					</mat-header-cell>
					<mat-cell *matCellDef="let coin" class="column-right hidden sm:flex">
						{{ coin.total_volume | shortCurrency }}
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="price_change_percentage_24h_in_currency">
					<mat-header-cell *matHeaderCellDef class="column-right">
						<span>24H %</span>
					</mat-header-cell>
					<mat-cell *matCellDef="let coin" class="column-right">
						<dil-amount-change
							[changePercent]="coin.price_change_percentage_24h_in_currency"
						></dil-amount-change>
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="price_change_percentage_7d_in_currency">
					<mat-header-cell *matHeaderCellDef class="column-right hidden sm:flex">
						<span>7D %</span>
					</mat-header-cell>
					<mat-cell *matCellDef="let coin" class="column-right hidden sm:flex">
						<dil-amount-change
							[changePercent]="coin.price_change_percentage_7d_in_currency"
						></dil-amount-change>
					</mat-cell>
				</ng-container>
			</mat-table>
			<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
		</div>
		<div class="flex justify-center py-3">
			<button mat-stroked-button color="primary" (click)="loadCoins()" *ngIf="dataSource.data.length">
				Load more
			</button>
		</div>
	</mat-drawer-content>
</mat-drawer-container>
