$primary: mat.define-palette(mat.$blue-palette);
$accent: mat.define-palette(mat.$light-blue-palette);
$warn: mat.define-palette(mat.$deep-orange-palette);
$light-theme: mat.define-light-theme($primary, $accent, $warn);

@include mat.all-component-themes($light-theme);

$typography: mat.define-typography-config(
	$font-family: 'Poppins'
);
@include angular-material-typography($typography);

.font-light {
	font-family: 'Inter', sans-serif;
}

.wave-background {
	background: linear-gradient(-45deg, rgb(2, 60, 185), rgb(63, 122, 250), rgb(2, 60, 185), rgb(63, 122, 250));
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.table-row-highlight:hover {
	background: #eff3f7;
	transition: ease 0.3s;
	cursor: pointer;
}
