<ng-container *ngIf="coin">
	<!-- Header -->
	<div class="bg-gray-100 p-5 flex row-spacer">
		<div class="px-2 pr-6">
			<img src="{{ coin.image }}" class="w-16 inline-block mr-2" />
		</div>

		<div>
			<span class="text-3xl font-semibold">{{ coin.name }}</span>
			<br />
			Price
			<span class="text-2xl font-medium">{{ coin.current_price | price }}</span>
		</div>

		<div class="pt-3 flex-1 text-end">
			<button mat-mini-fab color="none" (click)="closeClicked.emit()" matTooltip="Close">
				<mat-icon>close</mat-icon>
			</button>
		</div>
	</div>

	<!-- Overview -->
	<div class="px-5 row-spacer">
		<div class="row-spacer">
			<span class="font-medium text-2xl">Overview</span>
			<hr class="divider-small" />
		</div>
		<div class="grid grid-cols-2 sm:grid-cols-3 row-spacer">
			<div class="coin-stat-column">
				<span class="coin-stat-value">
					<dil-amount-change
						[changePercent]="coin.price_change_percentage_1h_in_currency"
					></dil-amount-change>
				</span>
				<span class="coin-stat-label">1H % CHANGE</span>
			</div>
			<div class="coin-stat-column mb-7 sm:mb-0">
				<span class="coin-stat-value">
					<dil-amount-change
						[changePercent]="coin.price_change_percentage_24h_in_currency"
					></dil-amount-change>
				</span>
				<span class="coin-stat-label">24H % CHANGE</span>
			</div>
			<div class="coin-stat-column sm:mb-7">
				<span class="coin-stat-value">
					<dil-amount-change
						[changePercent]="coin.price_change_percentage_7d_in_currency"
					></dil-amount-change>
				</span>
				<span class="coin-stat-label">7D % CHANGE</span>
			</div>
			<div class="coin-stat-column mb-7 sm:mb-0">
				<span class="coin-stat-value">
					{{ coin.low_24h | price }}
				</span>
				<span class="coin-stat-label">24H LOW</span>
			</div>
			<div class="coin-stat-column">
				<span class="coin-stat-value">
					{{ coin.high_24h | price }}
				</span>
				<span class="coin-stat-label">24H HIGH</span>
			</div>
			<div class="coin-stat-column">
				<span class="coin-stat-value">
					{{ coin.market_cap | shortCurrency }}
				</span>
				<span class="coin-stat-label">MARKET CAP</span>
			</div>
		</div>
	</div>

	<!-- Price History -->
	<div class="px-5 row-spacer">
		<div class="row-spacer">
			<span class="font-medium text-2xl">Price History</span>
			<hr class="divider-small" />
		</div>
		<dil-coin-price-history-chart [coinId]="coin.id">
			<span class="text-lg">{{ coin.symbol.toUpperCase() }} to USD Chart</span>
		</dil-coin-price-history-chart>
	</div>

	<!-- Supply -->
	<div class="px-5 row-spacer">
		<div class="row-spacer">
			<span class="font-medium text-2xl">Supply</span>
			<hr class="divider-small" />
		</div>
		<div class="flex row-spacer">
			<div class="coin-stat-column flex-1">
				<span class="coin-stat-value">
					{{ coin.circulating_supply | number: '1.0-0' }}
					<span class="text-gray-400 text-base" *ngIf="!!coin.max_supply">
						({{ coin.circulating_supply / coin.max_supply | percent }})
					</span>
				</span>
				<span class="coin-stat-label">CIRCULATING SUPPLY</span>
			</div>

			<div class="coin-stat-column flex-1" *ngIf="!!coin.max_supply">
				<span class="coin-stat-value">
					{{ coin.max_supply - coin.circulating_supply | number: '1.0-0' }}
					<span class="text-gray-400 text-base">
						({{ (coin.max_supply - coin.circulating_supply) / coin.max_supply | percent }})
					</span>
				</span>

				<span class="coin-stat-label">UNALLOCATED SUPPLY</span>
			</div>

			<div class="coin-stat-column flex-1">
				<span class="coin-stat-value">
					<ng-container *ngIf="!!coin.max_supply; else unlimited">
						{{ coin.max_supply | number: '1.0-0' }}
					</ng-container>
					<ng-template #unlimited>Unlimited</ng-template>
				</span>
				<span class="coin-stat-label">TOTAL SUPPLY</span>
			</div>
		</div>
	</div>

	<!-- Description -->
	<div class="px-5 row-spacer" *ngIf="coinDetails">
		<div class="row-spacer">
			<span class="font-medium text-2xl">Description</span>
			<hr class="divider-small" />
		</div>
		<div class="flex row-spacer">
			<div class="fs-6" [innerHTML]="(coinDetails.description.en | description) || 'No description'"></div>
		</div>
	</div>

	<!-- Resources -->
	<div class="px-5 row-spacer" *ngIf="coinDetails">
		<div class="row-spacer">
			<span class="font-medium text-2xl">Resources</span>
			<hr class="divider-small" />
		</div>
		<div class="row-spacer">
			<p *ngFor="let link of coinDetails.links?.homepage">
				<a href="{{ link }}" target="_blank" class="underline">{{ link }}</a>
			</p>
			<p *ngFor="let link of coinDetails.links?.repos_url?.github">
				<a href="{{ link }}" target="_blank" class="underline">{{ link }}</a>
			</p>
		</div>
	</div>
</ng-container>
